body {
    background: #050506;
    color: white;
    font-family: Arial;
    margin: 0;
}

.header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background: #111;
    border-bottom: 2px solid red;
}

.page {
    display: none;
    padding: 20px;
}

.page.active {
    display: block;
}

.btn, .btn-secondary {
    margin-top: 15px;
    padding: 12px 20px;
    background: red;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 8px;
    font-weight: bold;
}

.btn-secondary {
    background: gray;
}

/* ADMIN */
.admin-button {
    padding: 10px 15px;
    background: #444;
    border-radius: 6px;
    color: white;
    cursor: pointer;
}

/* POPUP */
.admin-popup {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.7);
    justify-content: center;
    align-items: center;
}

.admin-box {
    background: #222;
    padding: 20px;
    border-radius: 10px;
}

/* PANEL ADMIN */
.admin-panel {
    display: none;
    padding: 20px;
}

.candidature {
    background: #111;
    margin-bottom: 10px;
    padding: 15px;
    border-left: 4px solid red;
    border-radius: 6px;
}
